.password__validation{
  display: flex;
  flex-direction: column;
  position: relative;
  .error{
    position: absolute;
    top: -60px;
  }

  small{
    color: red;
    &.valid{
      color: green;
    }
  }
}
