@if(!id){
  <p-button label="Add transaction" (click)="showDialog = true" />
}

<p-dialog
  header="Add transaction"
  class="transactions"
  [modal]="true"
  [(visible)]="showDialog"
  position="top"
>
  <app-add-transaction
    (dialogClosed)="showDialog = false"
    (transactionSubmitted)="onAddTransaction($event)"
  ></app-add-transaction>
</p-dialog>

@if(transactions$ | async; as transactions ){
   @if(transactions.length){
    <app-transaction-table
      [transactions]="transactions"
      (deleteTransaction)="markForDelete($event)"
      (updateTransaction)="updateTransaction($event)"
    ></app-transaction-table>
}
}

<p-dialog header="Delete transaction" [modal]="true" [(visible)]="showConfirm" position="top">
  <app-confirm-dialog header="Delete" (confirm)="onDialogConfirm()" (cancel)="onDialogCancel()">
    <p>Are you sure you want to delete this transaction?</p>
  </app-confirm-dialog>
</p-dialog>


