@import "primeicons/primeicons.css";

:root {
  --header-bg-color: rgb(6, 181, 181);
  --link-color: rgb(90, 90, 90);
  --link-color-hover: rgb(92, 92, 92);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #eee;
}

body {
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1rem;
  background-color: var(--header-bg-color);

  .logo {
    font-weight: 600;
    font-size: 1.3rem;
    margin: 0;
  }

  nav {
    display: flex;
    align-items: center;

    ul {
      list-style-type: none;
      margin: 0;

      li {
        display: inline-flex;
        padding: 0 0.2rem;
        justify-content: center;

        a {
          text-decoration: none;
          color: var(--link-color);
          font-weight: 500;

          &.active {
            color: rgb(94, 77, 0);
            font-weight: 600;
          }

          &:not(.active):hover {
            cursor: pointer;
            color: var(--link-color-hover);
          }
        }

        &:not(:first-child) {
          margin-left: 1rem;
        }
      }
    }
  }
}

.form {
  min-width: 20rem;
  max-width: 30rem;

  .signin__form {
    transform: translateY(-50%);
  }

  .field {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.4rem;

    label {
      margin-bottom: 0.3rem;
      font-size: 0.9rem;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      height: 2.2rem;
    }

    small {
      position: absolute;
      bottom: 0.3rem;
      left: 0.1rem;
      color: var(--p-inputtext-invalid-placeholder-color);
    }
  }

  .footer {
    display: flex;
    flex-direction: column;

    p-button,
    button {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }
}

p-dialog {
  &.transactions {
    .transactions__form {
      min-height: 30rem;
      display: flex;
      flex-direction: column;

      .footer {
        margin-top: auto;
      }
    }
  }

  .p-datepicker {
    width: 100%;
  }
}

.table {
  table {
    width: 95%;
    border-collapse: collapse;
    margin-top: 2rem;
    margin: 2rem auto;

    thead {
      background-color: var(--header-bg-color);
    }

    .actions {
      display: inline-flex;
      justify-content: flex-end;
      align-items: center;

      i:hover{
        cursor: pointer;
        opacity: 0.8;
      }
    }

    th,
    td {
      border: 1px solid gray;
    }

    th {
      padding: 0.5rem;
      background-color: var();
    }

    td {
      padding: 0.2rem 0.6rem;

      :last-child {
        margin-left: 0.6rem;

        span{
          margin: 0;
        }
      }

      &:last-child {
        width: 15%;
        text-align: right;
      }
    }
  }
}
app-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

app-auth {
  flex-grow: 1;
  display: flex;
  place-content: center;
  flex-wrap: wrap;
}

app-home,
app-transactions {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-width: 95vw;

  p-button {
    align-self: flex-start;
    text-align: center;
  }
}
.p-datepicker .p-datepicker-panel {
  transform: translateY(-20%);
}
